extends layout

block content
  //h1= title
  //p Welcome to #{title}
  //p #{thing}
  .col-md-4
  .col-md-4(style="text-align:center;")
    h1 Click to generate random number
  .col-md-4
  div.start
  div.numbers 
    h1 ???

block script
  script.
    var click=1;
    var circletype=['redcircle', 'yellowcircle','orangecircle','greencircle','bluecircle','violetcircle'];
    $(document).click(function() {
      var circle = circletype[Math.floor(Math.random()*circletype.length)];
      $("div.start").append("<div class=\"thing\" id="+click+"></div>");
      setTimeout(function() {
        $('div.thing#'+(click-1)).addClass('topleft').addClass(circle);
      },100)
      $('div.numbers').hide().html('<h1>'+Math.floor(Math.random()*1000)+'</h1>');
      setTimeout(function() {
        $('div.numbers').fadeIn(2000);
      },950)
      click+=1;
    });